@model NetworkFileShareUI.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header -->
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Folders</h6>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <a href="@Url.Action("AddFolder","Admin")" class="btn btn-sm btn-neutral">New</a>
                    <a href="#" id="btnFilter" class="btn btn-sm btn-neutral">Filters</a>
                    <div id="FilterSection" hidden>
                        <div class="d-flex">
                            <input type="search" class="form-control" id="txtSearch" placeholder="search" oninput="FilterThis()" style="width: 50%;margin-top: 10px;">
                            <select class="form-control" id="sltFolderType" onchange="FilterThis()" style="width: 40%;margin-top: 10px;margin-left: 2%;font-family:FontAwesome;">
                                <option disabled selected value="">select folder Type</option>
                                <option value="">all</option>
                                @foreach (var item in Model.FolderIcons)
                                {
                                    <!option value="@item.Id">@System.Net.WebUtility.HtmlDecode(item.IconCode) @item.IconName</!option>
                                }
                            </select>
                            <p style="color: white;margin-top: 20px;margin-left: 2%;">filter</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row justify-content-center">
        <div class=" col ">
            <div class="card" style="min-height:500px;">
                <div class="card-body">
                    <div class="row icon-examples" id="folderWrapper">
                        @foreach (var fld in Model.Folders)
                        {
                            <div class="col-lg-3 col-md-6 d-flex">
                                <a href="@Url.Action("Folder","File",new { Id = fld.Id })" class="btn-icon-clipboard" style="background-color:@fld.FolderColorName;">
                                    <div style="font-family:FontAwesome;margin-bottom:5px;">
                                        <i>@System.Net.WebUtility.HtmlDecode(fld.FolderIconName)</i>
                                        <span style="font-family:inherit;">@fld.Name</span>
                                    </div>
                                    <small>@fld.Username</small>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function()
    {
            $("#btnFilter").click(function(e)
            {
                e.preventDefault();
                if ($("#FilterSection").is(":hidden"))
                {
                    $("#FilterSection").removeAttr('hidden');
                }else
                {
                    $("#FilterSection").attr('hidden','hidden');
                }
            });
    });  
        function FilterThis()
        {
            $.ajax(
                {
                    url: '@Url.Action("FilterFolders","Admin")',
                    type: 'post',
                    datatype: 'json',
                    data: { FolderIcon: $("#sltFolderType").find(":selected").val(), FolderName: $("#txtSearch").val() },
                    success: function (result) {
                        if (result.hasvalue)
                            $("#folderWrapper").html(result.html);
                    },
                    error: function () { }
                });
        }
    </script>
}